# Authentication (NextAuth.js)
# Create a .env.local file in the root directory and fill in these values

# Google OAuth
# Get these from https://console.cloud.google.com/
GOOGLE_ID=771377504871-6ekur4ml2gidp0b7iedgtgnrbe7nodar.apps.googleusercontent.com
GOOGLE_SECRET=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

# GitHub OAuth
# Get these from https://github.com/settings/developers
GITHUB_ID= Ov23li5ML2jQy7ycYl85 
GITHUB_SECRET=95a00c151febd3b1600f83ff5d8ee0aba4054055

# NextAuth Configuration
# Run `openssl rand -base64 32` to generate a secret
NEXTAUTH_SECRET=9doWsIPElovcQe0+JDUVBCYpSXlPcCrcSZxj4VNTIkc=
NEXTAUTH_URL=http://localhost:3000
